@import 'tailwindcss';

:root {
	--primary: hsl(37, 100%, 50%);
	--background: hsl(37, 100%, 95%);
	--weak: hsl(37, 100%, 75%);
	--success: #afa;
	--error: #faa;
	--disabled: #ccc;
	--svg: #333;
}

@theme {
	--color-primary: var(--primary);
	--color-background: var(--background);
	--color-weak: var(--weak);
	--color-success: var(--success);
	--color-error: var(--error);
	--color-disabled: var(--disabled);
	--color-svg: var(--svg);
}

body {
	min-height: 100vh;
	background-color: var(--background);
}